---

- name: get docker version
  shell: |
    set -o pipefail
    {{ docker_restart_cmd }}
    docker -v | awk '{print $3}'| sed 's/\,//'
  args:
    executable: /bin/bash
  register: docker_version
  changed_when: false

- name: Set buildx builder
  shell: |
    set -o pipefail
    sudo -u {{ item }} XDG_RUNTIME_DIR=/run/user/$(id -u) docker buildx install
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ item }}"
  changed_when: false
  with_items:
    - "{{ docker_users_list }}"
