---

- name: Redhat - Add Docker GPG key
  rpm_key:
    key: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    state: present

- name: Redhat - Add docker Repository
  shell: |
    set -o pipefail
    {{ redhat_repo_cmd }}
  args:
    executable: /bin/bash
    creates: /etc/yum.repos.d/docker-ce.repo
  changed_when: false
