name: run_molecule

on: [push]

jobs:
  run_linting:
    uses: hybridadmin/reuse-workflows/.github/workflows/linting.yml@main
    secrets: inherit

  run_test:
    needs:
      - run_linting
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        distro:
          - image: ubuntu
            tag: noble
          - image: ubuntu
            tag: jammy
          - image: ubuntu
            tag: focal
          - image: debian
            tag: 13
          - image: debian
            tag: 12
          - image: fedora
            tag: 43
          - image: fedora
            tag: 42
    uses: hybridadmin/reuse-workflows/.github/workflows/molecule.yml@main
    secrets: inherit
    with:
      distro_image: '${{ matrix.distro.image }}'
      distro_tag: '${{ matrix.distro.tag }}'
      working_directory: 'hybridadmin.docker'
